
/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background: none;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #4b5b84;
  border-radius: 10px; /* Adjust the radius to control the roundness of the thumb */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grey-3 font-primary text-base leading-relaxed;
  }
  .section {
    @apply py-[50px] lg:py-[70px];
  }
  .title {
    @apply text-2xl lg:text-[40px] leading-tight font-semibold mb-4;
  }
  .subtitle {
    @apply text-[18px] lg:text-[20px] leading-relaxed mb-5 lg:mb-9;
  }
}
.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.text-shadow-md {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.shadow-md {
  opacity: 200%;
}

.box-shadow-md {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Increased opacity from 0.2 to 0.3 */
  border-radius: 10px; /* Increased border radius to 10px */
  background-color: rgba(75, 91, 132, 0.65)
}

.logo {
  height: 80px;
  width: 100%;
  padding-bottom: 45px;
  

}





